################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SingletonProgram/.vs
/SingletonProgram/obj
/SingletonProgram/bin
/CS3450_Assignment05_ADT_V1.0.zip
/SingletonDesignPatternUML.png
/Application
